.project-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.4rem;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.03);
}

.project-card img {
    width: 100%;
    height: 250px;
    border-radius: 0.4rem;
    object-fit: cover;
    box-shadow: 0px 8px 24px var(--highlight);
}

.project-card>.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-card>.header>div {
    display: flex;
    gap: 1rem;
}

.project-card>.header>div>a>img {
    width: 20px;
    height: 20px;
    filter: invert(90%);
    transition: all 0.3s ease-in-out;
    box-shadow: none;
}

.light .project-card>.header>div>a>img {
    filter: invert(10%);
}

.project-card>.header>div>a>img:hover {
    transform: scale(1.1);
}

.project-card>.detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-card>.detail>.tech {
    color: var(--highlight);
}

/* Móvil (320px–480px) */
@media (max-width: 480px) {
    .project-card img {
        height: 150px;
    }

    .project-card>.header,
    .project-card>.detail {
        gap: 0.5rem;
    }

    .project-card>.header>div {
        gap: 0.5rem;
    }
}

/* Móvil grande/Tablet vertical (481px–768px) */
@media (max-width: 768px) {
    .project-card img {
        height: 200px;
    }
}