.home {
    padding: 0 8rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    text-align: justify;
}

.home>h1 {
    font-size: 5.5rem;
    background: linear-gradient(to bottom right, #1B263B 0%, #DAA520 50%, #2E2E2E 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.typewriter {
    font-size: 2rem;
}

.home>a {
    font-size: 1.5rem;
}

.home>a:hover {
    color: var(--highlight);
    text-decoration: underline;
}

.home>p {
    line-height: 2rem;
    font-size: 1.1rem;
}

.typewriter::after {
    content: '|';
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Móvil (320px–480px) */
@media (max-width: 480px) {
    .home {
        padding: 0 1rem;
        gap: 2rem;
    }

    .home>h1 {
        font-size: 3rem;
    }

    .home>p,
    .home>a {
        font-size: 1rem;
    }
}

/* Móvil grande/Tablet vertical (481px–768px) */
@media (max-width: 768px) {
    .home {
        padding: 0 1.5rem;
        gap: 2.5rem;
    }

    .home>h1 {
        font-size: 4rem;
    }

    .home>p,
    .home>a {
        font-size: 1.05rem;
    }
}

/* Portátil (769px–1024px) */
@media (max-width: 1024px) {
    .home {
        padding: 0 8rem;
    }

    .home>h1 {
        font-size: 4.5rem;
    }
}