.projects {
    padding: 0 8rem;
    min-height: 80vh;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.projects>h2 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 2rem;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 8rem;
}

/* Portátil (769px–1024px) */
@media (max-width: 1024px) {
    .projects {
        margin: 1rem 4rem 1rem 4rem;
        gap: 1.5rem;
    }

    .projects-container {
        gap: 4rem;
    }
}

/* Tablet vertical (481px–768px) */
@media (max-width: 768px) {
    .projects {
        padding: 0 1.2rem;
        gap: 1.2rem;
    }

    .projects-container {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 2.5rem;
    }
}

/* Móvil (320px–480px) */
@media (max-width: 480px) {
    .projects {
        padding: 0 1rem;
        gap: 1rem;
    }

    .projects-container {
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

}