@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --primary-dark: whitesmoke;
  --bg-dark: #111111;
  --primary-light: #111111;
  --bg-light: whitesmoke;
  --highlight: #DAA520;
  --divider: rgb(164, 164, 164);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
}

html {
  scroll-behavior: smooth;
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  background-color: var(--bg-dark);
  color: var(--primary-dark);
  transition: all 0.5s ease-in-out;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
}

.light .home>h1 {
  background: linear-gradient(to bottom right, #ffdb86 0%, #f5c03a 50%, #ffe39d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


main {
  min-height: 80vh;
}

p {
  font-size: 1.1rem;
}

/* Móvil (320px–480px) */
@media (max-width: 480px) {

  a,
  p {
    font-size: 1rem;
  }
}

/* Móvil grande/Tablet vertical (481px–768px) */
@media (max-width: 768px) {

  a,
  p {
    font-size: 1.05rem;
  }
}